<form method="POST" 
        action="{% url 'lector_pdf' %}" 
        enctype="multipart/form-data">

    {% csrf_token %}

    <input type="file" name="archivo_pdf" accept=".pdf" required>

    <button type="submit">Analizar Hemograma</button>
</form>

<hr>

<h2>Resultados del Analizador Medilector</h2>
<div class="resultados-grid">
    {% if lista_analisis %}
        {% for item in lista_analisis %}
        <div class="card {{ item.clase }}">
            <h3>{{ item.nombre }}</h3>
            <p>Valor: {{ item.valor }}</p>
            <strong>Resultado: {{ item.estado }}</strong>
            <p><small>{{ item.mensaje }}</small></p>
        </div>
        {% endfor %}
    {% else %}
        <p>Sube un archivo para ver el análisis profesional aquí.</p>
    {% endif %}
</div>
<p>Depuración: Se encontraron {{ lista_analisis|length }} resultados.</p>